<div class="g-app-container-home ">
    {{#if posts}}
    <div class="g-reset h-container g-clearfix">
        {{#each posts}}
        <article class="p-border">
            <a class="g-reset" href="#/posts/{{authorUid}}{{dateOfCreation}}">
                <section class="p-post-image-container">
                    <div class="p-post-category">
                        {{category}}
                    </div>
                    <img class="p-post-image" src="{{image}}">
                    <div class="p-post-date">
                        <span>{{monthOfCreation}}</span>
                        <span>{{dayOfCreation}}</span>
                    </div>
                </section>
                <section class="h-post-content">
                    <h2 class="g-reset">{{{title}}}</h2>
                    <h3 class="g-reset">POSTED BY {{{author}}}</h3>
                </section>
                <section>
                    <div class="g-dotted"></div>
                    <div class="h-post-content-text">{{{content}}}</div>
                </section>
            </a>
        </article>
        {{/each}}

    </div>
    <br> {{#if pagination}}
    <div class="h-pagination-container">
        <div class="h-pagination-left" id="previous">
            <a href="#/home/?page=1&pageSize={{pageSize}}"><img src="../images/pagination-left.png"></a>
        </div>
        <div class="g-flex"></div>
        <div class="h-pagination-numbers">
            {{#each pageNumbers}}
            <a href="#/home/?page={{this}}&pageSize={{../pageSize}}">{{this}}</a> {{/each}}
        </div>
        <div class="g-flex"></div>
        <div class="h-pagination-right" id="next">
            <a href="#/home/?page={{pageNumbers.length}}&pageSize={{pageSize}}"><img src="../images/pagination-right.png"></a>
        </div>
    </div>
    {{/if}}
    {{/if}}
    {{#unless posts}}
        <h1 class="g-warning">There is no posts from this author!</h1>
    {{/unless}}
</div>