<div class="g-app-container p-page">
    <p class="p-selected-item">Home &#8811; {{post.category}} &#8811; <b>{{{post.title}}}</b></p>
    <br>
    <div class="p-page-content">
        <div class="p-page-block p-single-post-size">
            <div class="p-single-post p-border">
                <aside class="p-post-info">
                    <section class="p-post-image-container">
                        <div class="p-post-category">
                            {{post.category}}
                        </div>
                        <img class="p-post-image" src="{{post.image}}">
                        <div class="p-post-date">
                            <span>{{post.monthOfCreation}}</span>
                            <span>{{post.dayOfCreation}}</span>
                        </div>
                    </section>
                    <section class="p-post-tags-container">
                        <h3>TAGS</h3>
                        {{#each post.tags}}
                        <div>{{this}}</div>
                        {{/each}}
                    </section>
                    <section class="p-post-related-posts">
                        <h3>RELATED POSTS</h3>
                        <ul class="g-reset">
                            <li><a><img src="../images/li-icon.png">Say hi to the world</a></li>
                            <li><a><img src="../images/li-icon.png">New car on the street!!!</a></li>
                            <li><a><img src="../images/li-icon.png">Browse channels only here</a></li>
                        </ul>
                    </section>
                    <section class="p-post-share">
                        <h3>SHARE THIS</h3>
                        <div class="p-post-share-img">
                            <span><a onclick="window.open('http://twitter.com/intent/tweet?status=FromTheStyle:+https%3A%2F%2Fsliceanddiceproject-89fec.firebaseapp.com%2F%23%2Fposts%2F{{post.authorUid}}{{post.dateOfCreation}}','popup','width=500,height=500,scrollbars=no,resizable=no'); return false;"><img src="../images/twitter-icon.png"></a></span>
                            <span><a onclick="window.open('https://www.facebook.com/sharer.php?u=https%3A%2F%2Fsliceanddiceproject-89fec.firebaseapp.com%2F%23%2Fposts%2F{{post.authorUid}}{{post.dateOfCreation}}','popup','width=500,height=500,scrollbars=no,resizable=no'); return false;"><img src="../images/facebook-icon.png"></a></span>
                            <span><a onclick="window.open('https://del.icio.us//submit?url=https%3A%2F%2Fsliceanddiceproject-89fec.firebaseapp.com%2F%23%2Fposts%2F{{post.authorUid}}{{post.dateOfCreation}}','popup','width=500,height=500,scrollbars=no,resizable=no'); return false;"><img src="../images/delicio-icon.png"></a></span>
                            <span><a onclick="window.open('http://www.digg.com/submit?url=https%3A%2F%2Fsliceanddiceproject-89fec.firebaseapp.com%2F%23%2Fposts%2F{{post.authorUid}}{{post.dateOfCreation}}','popup','width=500,height=500,scrollbars=no,resizable=no'); return false;"><img src="../images/digg-icon.png"></a></span>
                            <span><a onclick="window.open('http://reddit.com/submit?url=https%3A%2F%2Fsliceanddiceproject-89fec.firebaseapp.com%2F%23%2Fposts%2F{{post.authorUid}}{{post.dateOfCreation}}','popup','width=500,height=500,scrollbars=no,resizable=no'); return false;"><img class="p-post-share-last" src="../images/reddit-icon.png"></a></span>
                        </div>
                    </section>
                </aside>
                <article class="p-post-content">
                    <h2>{{post.title}}</h2>
                    <h3>POSTED BY {{post.author}} in {{post.category}} | {{counter}} COMMENTS</h3>
                    <div class="p-post-line"></div>
                    <div class="p-post-content-text">
                        {{{post.content}}}
                    </div>
                </article>
            </div>
            <div class="p-post-comments-container">
                <div class="p-post-comments-container-padding  p-border">
                    <h2> {{counter}} COMMENTS</h2>
                    <div class="p-post-line"></div>
                    <div class="p-post-comments">
                        {{#if post.comments}} {{#each post.comments}}
                        <div class="p-post-comment">
                            <div class="p-post-comment-info">
                                <div class="p-post-comment-info-container">
                                    <img class="p-post-comment-image" src="{{this.imageUrl}}">
                                    <div class="p-post-comment-date">
                                        <span>{{this.monthOfCreation}}</span>
                                        <span>{{this.dayOfCreation}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="p-post-comment-content-container">
                                <h3>{{this.authorName}}</h3>
                                <div class="p-post-comment-content">
                                    {{{this.content}}}
                                </div>
                                <input id="p-get-subcomments-form" type="button" value="REPLAY" class="p-replay-btn p-get-subcomments-form" {{#if ../isLogged}}
                                    title="You need registration or login for comment:" disabled {{/if}}></input>
                                <form action="#/posts/{{../post.authorUid}}{{../post.dateOfCreation}}/create-sub-comment/{{this.authorUid}}{{this.dateOfCreation}}"
                                    id="#p-subcomments-form" method="post" class="hidden">
                                    <textarea class="p-ccf-content" name="content" id="content-sub" required></textarea>
                                    <input id="p-toggle-sub-comment" type="submit" value="SUBMIT" class="p-replay-btn p-ccf-btn" {{#if ../isLogged}} title="You need registration or login for comment:"
                                        disabled {{/if}}>
                                </form>
                                {{#if this.comments}} {{#each this.comments}}
                                <div class="p-post-comment p-post-comment-sub">
                                    <div class="p-post-comment-info">
                                        <div class="p-post-comment-info-container">
                                            <img class="p-post-comment-image" src="{{this.imageUrl}}">
                                            <div class="p-post-comment-date">
                                                <span>{{this.monthOfCreation}}</span>
                                                <span>{{this.dayOfCreation}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-post-comment-content-container">
                                        <h3>{{this.authorName}}</h3>
                                        <div class="p-post-sub-comment-content">
                                            <div class="p-post-comment-content">
                                                {{{this.content}}}
                                            </div>
                                        </div>
                                        <input id="p-get-subcomments-form" type="button" value="REPLAY" class="p-replay-btn p-get-subcomments-form" {{#if ../isLogged}}
                                            title="You need registration or login for comment:" disabled {{/if}}></input>
                                        <form action="#/posts/{{../post.authorUid}}{{../post.dateOfCreation}}/create-sub-comment/{{this.authorUid}}{{this.dateOfCreation}}"
                                            id="#p-subcomments-form" method="post" class="hidden">
                                            <textarea class="p-ccf-content" name="content" id="content-sub" required></textarea>
                                            <input id="p-toggle-sub-comment" type="submit" value="SUBMIT" class="p-replay-btn p-ccf-btn" {{#if ../isLogged}} title="You need registration or login for comment:"
                                                disabled {{/if}}>
                                        </form>
                                    </div>
                                </div>
                                {{#if this.comments}} {{#each this.comments}}
                                <div class="p-post-comment p-post-comment-sub">
                                    <div class="p-post-comment-info">
                                        <div class="p-post-comment-info-container">
                                            <img class="p-post-comment-image" src="{{this.imageUrl}}">
                                            <div class="p-post-comment-date">
                                                <span>{{this.monthOfCreation}}</span>
                                                <span>{{this.dayOfCreation}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-post-comment-content-container">
                                        <h3>{{this.authorName}}</h3>
                                        <div class="p-post-comment-content">
                                            {{{this.content}}}
                                        </div>
                                        <input id="p-get-subcomments-form" type="button" value="REPLAY" class="p-replay-btn p-get-subcomments-form" {{#if ../isLogged}}
                                            title="You need registration or login for comment:" disabled {{/if}}></input>
                                        <form action="#/posts/{{../post.authorUid}}{{../post.dateOfCreation}}/create-sub-comment/{{../post.comments.authorUid}}{{../post.comments.dateOfCreation}}/create-sub2-comment/{{this.authorUid}}{{this.dateOfCreation}}"
                                            id="#p-subcomments-form" method="post" class="hidden">
                                            <textarea class="p-ccf-content" name="content" id="content-sub" required></textarea>
                                            <input id="p-toggle-sub-comment" type="submit" value="SUBMIT" class="p-replay-btn p-ccf-btn" {{#if ../isLogged}} title="You need registration or login for comment:"
                                                disabled {{/if}}>
                                        </form>
                                    </div>
                                </div>
                                {{/each}}{{/if}} {{/each}}{{/if}}
                            </div>
                        </div>
                        <div class="p-post-line"></div>
                        {{/each}}{{/if}}
                    </div>
                    <h2>LEAVE A COMMENT</h2>
                    <div class="p-create-comment-form">
                        <form action="#/posts/{{post.authorUid}}{{post.dateOfCreation}}/create-comment" id="post-form" method="post">
                            {{#if isLogged}}
                            <textarea class="p-ccf-anonymous" id="p-ccf-anonymous" disabled></textarea>
                            <textarea class="p-ccf-anonymous" id="p-ccf-anonymous" disabled></textarea> {{/if}}
                            <textarea class="p-ccf-content" name="content" id="content" required {{#if isLogged}} disabled {{/if}}></textarea>
                            <input id="p-toggle-comment" type="submit" value="SUBMIT" class="p-replay-btn p-ccf-btn" {{#if isLogged}} title="You need registration or login for comment:"
                                disabled {{/if}}>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-page-block">
            <div class="p-page-block-content">
                <div id="tabs" class="p-tabs p-border">
                    <ul>
                        <li><a href="#tabs-1">AUTHOR</a></li>
                        <li><a href="#tabs-2">RELATED</a></li>
                        <li><a href="#tabs-3">RANDOM</a></li>
                    </ul>
                    <div id="tabs-1">
                        {{#if authorPosts}} {{#each authorPosts}}
                        <a href="#/posts/{{authorUid}}{{dateOfCreation}}">
                            <div class="p-post-comment-small">
                                <div class="p-post-comment-info-small">
                                    <div class="p-post-comment-info-container-small">
                                        <img class="p-post-comment-image-small" src="{{image}}">
                                    </div>
                                </div>
                                <div class="p-post-comment-content-container-small">
                                    <p>{{{title}}}</p>
                                    <p class="p-post-comment-content-small">Posted By {{author}} on {{monthOfCreation}} {{dayOfCreation}}</p>
                                </div>
                            </div>
                        </a>
                        {{/each}} {{/if}}
                    </div>
                    <div id="tabs-2">
                        {{#if relatedPosts}} {{#each relatedPosts}}
                        <a href="#/posts/{{authorUid}}{{dateOfCreation}}">
                            <div class="p-post-comment-small">
                                <div class="p-post-comment-info-small">
                                    <div class="p-post-comment-info-container-small">
                                        <img class="p-post-comment-image-small" src="{{image}}">
                                    </div>
                                </div>
                                <div class="p-post-comment-content-container-small">
                                    <p>{{{title}}}</p>
                                    <p class="p-post-comment-content-small">Posted By {{author}} on {{monthOfCreation}} {{dayOfCreation}}</p>
                                </div>
                            </div>
                        </a>
                        {{/each}} {{/if}}
                    </div>
                    <div id="tabs-3">
                        <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula
                            accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent
                            taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales.
                            Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium.
                            Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
                    </div>
                </div>
                <div class="p-custom-wd p-border">
                    <h3>RECENT POSTS</h3>
                    {{#if recentPosts}}
                    <ul>
                        {{#each recentPosts}}
                        <li><a href="#/posts/{{authorUid}}{{dateOfCreation}}"><img src="../images/li-icon.png">&nbsp{{{title}}}</a></li>
                        {{/each}}
                    </ul>
                    {{/if}} {{#unless recentPosts}}
                    <h4>Oups... There is no recent posts!</h3>
                        {{/unless}}
                </div>
                <div class="p-custom-wd p-border">
                    <h3>FROM THE STYLE TEAM</h3>
                    <p class="p-custom-wd-text">
                        Hello, there! We are happy to see you here, again! Enjoy the news, post what you want and share it to the World :) This is
                        a welcome to your blog-news world, whether the goal is to nurture leads, build an audience, engage
                        existing customers, or promote sales. This is a web SPA blog applicaton with all sorts of posts.
                        The project is sliced and diced from a given psd file provided by Telerik Academy.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#tabs").tabs();
    });

</script>