<div class="g-app-container p-page">
    <p class="p-selected-item">Home &#8811; {{post.category}} &#8811; <b>{{{post.title}}}</b></p>
    <br>
    <div class="p-page-content">
        <div class="p-page-block p-single-post-size">
            <div class="p-single-post p-border">
                <aside class="p-post-info">
                    <section class="p-post-image-container">
                        <div class="p-post-category">
                            {{post.category}}
                        </div>
                        <img class="p-post-image" src="{{post.image}}">
                        <div class="p-post-date">
                            <span>{{post.monthOfCreation}}</span>
                            <span>{{post.dayOfCreation}}</span>
                        </div>
                    </section>
                    <section class="p-post-tags-container">
                        <h3>TAGS</h3>
                        {{#each post.tags}}
                        <div>{{this}}</div>
                        {{/each}}
                    </section>
                    <section class="p-post-related-posts">
                        <h3>RELATED POSTS</h3>
                        <ul class="g-reset">
                            <li><a><img src="../images/li-icon.png">Say hi to the world</a></li>
                            <li><a><img src="../images/li-icon.png">New car on the street!!!</a></li>
                            <li><a><img src="../images/li-icon.png">Browse channels only here</a></li>
                        </ul>
                    </section>
                    <section class="p-post-share">
                        <h3>SHARE THIS</h3>
                        <div class="p-post-share-img">
                        <span><a><img src="../images/twitter-icon.png"></a></span>
                        <span><a><img src="../images/facebook-icon.png"></a></span>
                        <span><a><img src="../images/middle-icon.png"></a></span>
                        <span><a><img src="../images/reddit-icon.png"></a></span>
                        </div>
                    </section>
                </aside>
                <article class="p-post-content">
                    <h2>{{post.title}}</h2>
                    <h3>POSTED BY {{post.author}} in {{post.category}} | {{counter}} COMMENTS</h3>
                    <div class="p-post-line"></div>
                    <div class="p-post-content-text">
                        {{{post.content}}}
                    </div>
                </article>
            </div>
            <div class="p-post-comments-container">
                <div class="p-post-comments-container-padding  p-border">
                    <h2> {{counter}} COMMENTS</h2>
                    <div class="p-post-line"></div>
                    <div class="p-post-comments">
                        {{#if post.comments}} {{#each post.comments}}
                        <div class="p-post-comment">
                            <div class="p-post-comment-info">
                                <div class="p-post-comment-info-container">
                                    <img class="p-post-comment-image" src="{{this.imageUrl}}">
                                    <div class="p-post-comment-date">
                                        <span>{{this.monthOfCreation}}</span>
                                        <span>{{this.dayOfCreation}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="p-post-comment-content-container">
                                <h3>{{this.authorName}}</h3>
                                <div class="p-post-comment-content">
                                    {{{this.content}}}
                                </div>
                                <input id="p-get-subcomments-form" type="button" value="REPLAY" class="p-replay-btn p-get-subcomments-form" {{#if ../isLogged}}
                                    title="You need registration or login for comment:" disabled {{/if}}></input>
                                <form action="#/posts/{{../post.authorUid}}{{../post.dateOfCreation}}/create-sub-comment/{{this.authorUid}}{{this.dateOfCreation}}"
                                    id="#p-subcomments-form" method="post" class="hidden">
                                    <textarea class="p-ccf-content" name="content" id="content-sub" required></textarea>
                                    <input id="p-toggle-sub-comment" type="submit" value="SUBMIT" class="p-replay-btn p-ccf-btn" {{#if ../isLogged}} title="You need registration or login for comment:"
                                        disabled {{/if}}>
                                </form>
                                {{#if this.comments}} {{#each this.comments}}
                                <div class="p-post-comment p-post-comment-sub">
                                    <div class="p-post-comment-info">
                                        <div class="p-post-comment-info-container">
                                            <img class="p-post-comment-image" src="{{this.imageUrl}}">
                                            <div class="p-post-comment-date">
                                                <span>{{this.monthOfCreation}}</span>
                                                <span>{{this.dayOfCreation}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-post-comment-content-container">
                                        <h3>{{this.authorName}}</h3>
                                        <div class="p-post-comment-content">
                                            {{{this.content}}}
                                        </div>
                                        <input id="p-get-subcomments-form" type="button" value="REPLAY" class="p-replay-btn p-get-subcomments-form" {{#if ../isLogged}}
                                            title="You need registration or login for comment:" disabled {{/if}}></input>
                                        <form action="#/posts/{{../post.authorUid}}{{../post.dateOfCreation}}/create-sub-comment/{{this.authorUid}}{{this.dateOfCreation}}"
                                            id="#p-subcomments-form" method="post" class="hidden">
                                            <textarea class="p-ccf-content" name="content" id="content-sub" required></textarea>
                                            <input id="p-toggle-sub-comment" type="submit" value="SUBMIT" class="p-replay-btn p-ccf-btn" {{#if ../isLogged}} title="You need registration or login for comment:"
                                                disabled {{/if}}>
                                        </form>
                                    </div>
                                </div>
                                {{#if this.comments}} {{#each this.comments}}
                                <div class="p-post-comment p-post-comment-sub">
                                    <div class="p-post-comment-info">
                                        <div class="p-post-comment-info-container">
                                            <img class="p-post-comment-image" src="{{this.imageUrl}}">
                                            <div class="p-post-comment-date">
                                                <span>{{this.monthOfCreation}}</span>
                                                <span>{{this.dayOfCreation}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-post-comment-content-container">
                                        <h3>{{this.authorName}}</h3>
                                        <div class="p-post-comment-content">
                                            {{{this.content}}}
                                        </div>
                                        <input id="p-get-subcomments-form" type="button" value="REPLAY" class="p-replay-btn p-get-subcomments-form" {{#if ../isLogged}}
                                            title="You need registration or login for comment:" disabled {{/if}}></input>
                                        <form action="#/posts/{{../post.authorUid}}{{../post.dateOfCreation}}/create-sub-comment/{{../post.comments.authorUid}}{{../post.comments.dateOfCreation}}/create-sub2-comment/{{this.authorUid}}{{this.dateOfCreation}}"
                                            id="#p-subcomments-form" method="post" class="hidden">
                                            <textarea class="p-ccf-content" name="content" id="content-sub" required></textarea>
                                            <input id="p-toggle-sub-comment" type="submit" value="SUBMIT" class="p-replay-btn p-ccf-btn" {{#if ../isLogged}} title="You need registration or login for comment:"
                                                disabled {{/if}}>
                                        </form>
                                    </div>
                                </div>
                                {{/each}}{{/if}} {{/each}}{{/if}}
                            </div>
                        </div>
                        <div class="p-post-line"></div>
                        {{/each}}{{/if}}
                    </div>
                    <h2>LEAVE A COMMENT</h2>
                    <div class="p-create-comment-form">
                        <form action="#/posts/{{post.authorUid}}{{post.dateOfCreation}}/create-comment" id="post-form" method="post">
                            {{#if isLogged}}
                            <textarea class="p-ccf-anonymous" id="p-ccf-anonymous" disabled></textarea>
                            <textarea class="p-ccf-anonymous" id="p-ccf-anonymous" disabled></textarea> {{/if}}
                            <textarea class="p-ccf-content" name="content" id="content" required {{#if isLogged}} disabled {{/if}}></textarea>
                            <input id="p-toggle-comment" type="submit" value="SUBMIT" class="p-replay-btn p-ccf-btn" {{#if isLogged}} title="You need registration or login for comment:"
                                disabled {{/if}}>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-page-block">
            <div class="p-page-block-content">
                <div id="tabs" class="p-tabs p-border">
                    <ul>
                        <li><a href="#tabs-1">RECENT</a></li>
                        <li><a href="#tabs-2">POPULAR</a></li>
                        <li><a href="#tabs-3">RANDOM</a></li>
                    </ul>
                    <div id="tabs-1">
                        <div class="p-post-comment-small">
                            <div class="p-post-comment-info-small">
                                <div class="p-post-comment-info-container-small">
                                    <img class="p-post-comment-image-small" src="../images/user-photo.jpg">
                                </div>
                            </div>
                            <div class="p-post-comment-content-container-small">
                                <p>Fusce espirito degfe hje</p>
                                <p class="p-post-comment-content-small">Posted By Admin on Mar 13</p>
                            </div>
                        </div>
                        <div class="p-post-comment-small">
                            <div class="p-post-comment-info-small">
                                <div class="p-post-comment-info-container-small">
                                    <img class="p-post-comment-image-small" src="../images/user-photo.jpg">
                                </div>
                            </div>
                            <div class="p-post-comment-content-container-small">
                                <p>Fusce espirito degfe hje</p>
                                <p class="p-post-comment-content-small">Posted By Admin on Mar 13</p>
                            </div>
                        </div>
                        <div class="p-post-comment-small">
                            <div class="p-post-comment-info-small">
                                <div class="p-post-comment-info-container-small">
                                    <img class="p-post-comment-image-small" src="../images/user-photo.jpg">
                                </div>
                            </div>
                            <div class="p-post-comment-content-container-small">
                                <p>Fusce espirito degfe hje</p>
                                <p class="p-post-comment-content-small">Posted By Admin on Mar 13</p>
                            </div>
                        </div>
                        <div class="p-post-comment-small">
                            <div class="p-post-comment-info-small">
                                <div class="p-post-comment-info-container-small">
                                    <img class="p-post-comment-image-small" src="../images/user-photo.jpg">
                                </div>
                            </div>
                            <div class="p-post-comment-content-container-small">
                                <p>Fusce espirito degfe hje</p>
                                <p class="p-post-comment-content-small">Posted By Admin on Mar 13</p>
                            </div>
                        </div>
                    </div>
                    <div id="tabs-2">
                        <div class="p-post-comment-small">
                            <div class="p-post-comment-info-small">
                                <div class="p-post-comment-info-container-small">
                                    <img class="p-post-comment-image-small" src="../images/user-photo.jpg">
                                </div>
                            </div>
                            <div class="p-post-comment-content-container-small">
                                <p>Fusce espirito degfe hje</p>
                                <p class="p-post-comment-content-small">Posted By Admin on Mar 13</p>
                            </div>
                        </div>
                        <div class="p-post-comment-small">
                            <div class="p-post-comment-info-small">
                                <div class="p-post-comment-info-container-small">
                                    <img class="p-post-comment-image-small" src="../images/user-photo.jpg">
                                </div>
                            </div>
                            <div class="p-post-comment-content-container-small">
                                <p>Fusce espirito degfe hje</p>
                                <p class="p-post-comment-content-small">Posted By Admin on Mar 13</p>
                            </div>
                        </div>
                        <div class="p-post-comment-small">
                            <div class="p-post-comment-info-small">
                                <div class="p-post-comment-info-container-small">
                                    <img class="p-post-comment-image-small" src="../images/user-photo.jpg">
                                </div>
                            </div>
                            <div class="p-post-comment-content-container-small">
                                <p>Fusce espirito degfe hje</p>
                                <p class="p-post-comment-content-small">Posted By Admin on Mar 13</p>
                            </div>
                        </div>
                        <div class="p-post-comment-small">
                            <div class="p-post-comment-info-small">
                                <div class="p-post-comment-info-container-small">
                                    <img class="p-post-comment-image-small" src="../images/user-photo.jpg">
                                </div>
                            </div>
                            <div class="p-post-comment-content-container-small">
                                <p>Fusce espirito degfe hje</p>
                                <p class="p-post-comment-content-small">Posted By Admin on Mar 13</p>
                            </div>
                        </div>
                    </div>
                    <div id="tabs-3">
                        <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula
                            accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent
                            taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales.
                            Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium.
                            Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
                    </div>
                </div>
                <div class="p-custom-wd p-border">
                    <h3>RELATED POSTS</h3>
                    <ul>
                        <li><a><img src="../images/li-icon.png">Say hi to the world</a></li>
                        <li><a><img src="../images/li-icon.png">New car on the street!!!</a></li>
                        <li><a><img src="../images/li-icon.png">Browse channels only here</a></li>
                        <li><a><img src="../images/li-icon.png">Say hi to the world</a></li>
                        <li><a><img src="../images/li-icon.png">New car on the street!!!</a></li>
                        <li><a><img src="../images/li-icon.png">Browse channels only here</a></li>
                    </ul>
                </div>
                <div class="p-custom-wd p-border">
                    <h3>RELATED POSTS</h3>
                    <p class="p-custom-wd-text">
                        Fusce suscipit sapien sit amet sapien placerat ultrices. Vivamus sed massa ac metus gravida dignissim egestas posuere lorem.
                        Sed ipsum urna, facilisis quis eleifend ut, sodales sed lectus. Integer felis eu ipsum malesuada
                        luctus. Sed pharetra eleifend ante vitae fermentum. Praesent fermentum volutpat porta. Lorem ipsum
                        dolor sit amet, consectetur adipiscing elit. Ut dignissim, nibh quis ultricies laoreet, libero justo
                        suscipit risus, sed sollicitudin odio erat at purus. Quisque molestie venenatis turpis eu adipiscing.
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum
                        ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse semper aliquet
                        odio, id blandit tortor porttitor pulvinar.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#tabs").tabs();
    });

</script>