<div class="g-app-container ">
    <div class="g-reset h-container">
        {{#each posts}}
        <article class="p-border">
            <a href="#/posts/{{authorUid}}{{dateOfCreation}}">
                <section class="p-post-image-container">
                    <div class="p-post-category">
                        {{category}}
                    </div>
                    <img class="p-post-image" src="{{image}}">
                    <div class="p-post-date">
                        <span>{{monthOfCreation}}</span>
                        <span>{{dayOfCreation}}</span>
                    </div>
                </section>
                <section class="h-post-content">
                    <h2 class="g-reset">{{{title}}}</h2>
                    <h3 class="g-reset">POSTED BY {{{author}}}</h3>
                </section>
                <section>
                <div class="g-dotted"></div>
                <div class="h-post-content-text">{{{content}}}</div>
                <section>
        </article>
        {{/each}}
    </div>

    {{#if pagination}}
    <div class="row pagination-container no-gutters">
        <div class="d-flex justify-content-start" id="previous">
            <a href="#/home/?pageNumber=1&pageSize={{pageSize}}">«</a>
        </div>

        <div class="col d-flex justify-content-center pages">
            {{#each pageNumbers}}
            <a href="#/home/?pageNumber={{this}}&pageSize={{../pageSize}}">{{this}}</a> {{/each}}
        </div>

        <div class="d-flex justify-content-end" id="next">
            <a href="#/home/?pageNumber={{count}}&pageSize={{pageSize}}">»</a>
        </div>
    </div>
    {{/if}}
</div>