<div class="g-app-container p-page">
    <p class="p-selected-item">Home &#8811; {{category}} &#8811; <b>{{title}}</b></p>
    <br>
    <div class="p-single-post p-border">
        <aside class="p-post-info">
            <section class="p-post-image-container">
                <div class="p-post-category">
                    {{category}}
                </div>
                <img class="p-post-image" src="{{image}}">
                <div class="p-post-date">
                    <span>{{monthOfCreation}}</span>
                    <span>{{dayOfCreation}}</span>
                </div>
            </section>
            <section class="p-post-tags-container">
                <h3>TAGS</h3>
                {{#each tags}}
                <div>{{this}}</div>
                {{/each}}
            </section>
            <section class="p-post-related-posts">
                <h3>RELATED POSTS</h3>
                <ul class="g-reset">
                    <li><a><img src="../images/li-icon.png">Say hi to the world</a></li>
                    <li><a><img src="../images/li-icon.png">New car on the street!!!</a></li>
                    <li><a><img src="../images/li-icon.png">Browse channels only here</a></li>
                </ul>
            </section>
            <section class="p-post-share">
                <h3>SHARE THIS</h3>
                <span><a><img src="../images/twitter-icon.png"></a></span>
                <span><a><img src="../images/facebook-icon.png"></a></span>
                <span><a><img src="../images/middle-icon.png"></a></span>
                <span><a><img src="../images/reddit-icon.png"></a></span>
            </section>
        </aside>
    </div>
</div>
<div class="single-article-image-containter">
    <img class="single-article-image" src="{{image}}" />
</div>
<div>
    {{{title}}}
</div>

<div>
    {{author}}
</div>

<div class="row">
    {{{content}}}
</div>
<div class="row">
    {{#each comments}}
    <li>
        <<img src="{{this.imageUrl}}" alt="NQQQQQQQQMA SNIMKAAA">{{this.authorName}}</li>
    {{/each}}
</div>

<form action="#/posts/{{authorUid}}{{dateOfCreation}}/create-comment" id="post-form" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" name="name" id="name" placeholder="" required>
    </div>
    <div class="form-group">
        <label for="imageUrl">ImageUrl</label>
        <input class="form-control" type="text" name="imageUrl" id="imageUrl" placeholder="" required>
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea class="form-control" name="content" id="content" required></textarea>
    </div>
    <div class="form-group">
        <input type="submit" value="CREATE" class="btn btn-success btn-submit-form">
    </div>
</form>
</div>
</div>
</div>










<!--

<div class="container g-app-container ">

    <p class="p-selected-item">Home &#8811; {{category}} &#8811; {{post.title}}</p>

    <div class="detailed-review-container">
        <div class="row no-gutters">
            <div class="col- da-details">
                <div class="da-image-container">

                    <div class="da-category">
                        {{post.category}}
                    </div>
                    <img class="da-image" src="{{post.image}}">
                    <div class="da-date">
                        <span>{{post.dayOfCreation}}</span>
                        <span> {{post.monthOfCreation}}</span>
                    </div>

                </div>
            </div>

            <div class="da-tags-container">
                <h3>TAGS</h3>
                {{#each post.tags}}
                <span>{{this}}</span> {{/each}}
            </div>
            <div class="da-share-icons-container">
                <h3>SHARE THIS</h3>
                <span>
                    <a >
                     <img src="./images/twitter.png">
                    </a>
                </span>

                <span>
                        <a ><img src="./images/facebook.png">
                    </a>
                </span>

                <span>
                    <a href="#">
                     <img src="./images/share-icon3.png">
                    </a>
                </span>

                <span>
                    <a href="#">
                     <img src="./images/share-icon4.png">
                    </a>
                </span>

                <span>
                    <a href="#">
                     <img src="./images/share-icon5.png">
                    </a>
                </span>
            </div>
        </div>

        <div class="col- da-content-container">
            <h1>{{post.title}}</h1>

            <div class="da-author">
                POSTED BY {{post.author}} IN {{post.category}} | {{post.comments.length}} COMMENTS
            </div>

            <div class="da-content">
                {{post.content}}
            </div>

        </div>
    </div>
</div>

<div class="row no-gutters justify-content-end article-comments-container-parent">
    <div class="article-comments-container">
        <div class="comments-count">
            {{post.comments.length}} COMMENTS
        </div>

        <div class="comments-list-container">
            {{#each post.comments}}
            <div class="comments-list-item row no-gutters">
                <div class="col- comment-item-info">
                    <div class="comment-item-image-container">
                        <img class="comment-author-avatar" src="https://newsletter-project.herokuapp.com/api/article/image/{{this.authorAvatar}}">
                        <div class="comment-date">
                            <span>{{this.dayOfCreation}}</span>
                            <span>{{this.monthOfCreation}}</span>
                        </div>
                    </div>
                </div>
                <div class="col- comment-item-contnet-container">
                    <h4>{{this.authorName}}</h4>
                    <div class="comment-item-content">
                        {{this.content}}
                    </div>
                </div>

                <input type="button" class="reply-comment-button add-comment-toggler hidden" value="REPLY">
            </div>
            <div class="reply-comment-container add-comment-toggler hidden" style="display: none;">
                <div>REPLY</div>

                <div class="rc-custom-form">
                    <textarea name="content" rows="4"></textarea>
                    <div>
                        <input type="button" value="SUBMIT" class="custom-form-submit" data-id="{{this._id}}">
                    </div>
                </div>
            </div>

            <!-- {{#each replies}}
            <div class="replied-comments-list-item row no-gutters">
                <div class="col- replied-comment-item-info">
                    <div class="replied-comment-item-image-container">
                        <img class="comment-author-avatar" src="https://newsletter-project.herokuapp.com/api/article/image/{{this.authorAvatar}}">
                        <div class="comment-date">
                            <span>{{this.date.month}}</span>
                            <span>{{this.date.day}}</span>
                        </div>
                    </div>
                </div>
                <div class="col- replied-comment-item-contnet-container">
                    <h4>{{this.author}}</h4>
                    <div class="replied-comment-item-content">
                        {{this.content}}
                    </div>
                </div>
            </div>
            {{/each}} {{/each}}
</div>
<div class="add-comment-container add-comment-toggler hidden">
    <div>LEAVE A COMMENT</div>
    <div class="rc-custom-form">
        <textarea name="content" id="comment-box" rows="8"></textarea>
        <div>
            <input type="button" id="submit-comment" value="SUBMIT">
        </div>
    </div>
</div>
</div>
</div>
</div>
-->